

  .navbar {
    /*display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;

    width: 100%;*/
    background-color: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  transition: all .7s ease-in;

  -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 1rem;



    /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); */
    /*box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
      -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
      12px 0 15px -4px rgba(31, 73, 125, 0.8),
      -12px 0 15px -4px rgba(31, 73, 125, 0.8);*/
  }

 
  .hamburger {
    display: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navMenu {
  list-style: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -38px;
  white-space: nowrap;
}




.navMenuContainer{
  margin: auto;
  /*border: 3px solid #91918bbe;
  width:60%
  */

  width: 95vw;
  max-width: 160vh;
  padding: 10px;
}

.navItem {
  float: left;
  position: relative;
  display: list-item;
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 400;
 
}

.navLink{
  font-size: 1rem;
  font-weight: 400;
  
}

.navLinkHome{
  font-size: 1rem;
  font-weight: 400;
  color: #fff

}
.navLink:hover{
  color: #be1e1e;
}

.navLinkHome:hover{
  color: #f1f1eb;
}
.navButton{
  color: rgb(219, 127, 7) !important;
  border-color: rgb(219, 127, 7) !important;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(98, 102, 104);
  color: #f1f1eb !important;
}

.box{
  width:80%;
  margin:2rem 10% 0 10%;
  height:100vh;
  background-color:plum;
}

.logo {
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  .navMenu {
      position: fixed;
      left: -100%;
      top: 0;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);

  }

  .navbar{
    position: absolute;
    top: 0;
    height: fit-content;
  }

  .navLinkHome{ 
    color: brown;
  }

  .navLink{ 
    color: brown;
  }


  .navMenu.active {
      left: 0;
  }

  .navItem {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    right: 0px;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(98, 102, 104);
  }

}