@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Estonia&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}*/


.content {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.973);
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

.children-content{
  max-width: 960px;
  margin-right: auto ;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  
}
.product-content
{
  max-width: 100vw;
    margin-right: auto ;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box{
  width:80%;
  margin:2rem 10% 0 10%;
  height:100vh;
  background-color:plum;
}

footer {
  background-color: #111;
  color: #fff;
  width: 100vw;
  height: auto;
  padding-top: 40px;
  border-top: 1px solid #eaeaea;
  /*background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 0px 0px;
    height: auto;*/
    
}
/*
 
nav {
  margin: 10px auto 80px;
  margin-top: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
*/

.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}
